/*
    Typography.css
    --------------------

    Define custom theme variables with semantic names.
    These variables are then used by TailwindCSS to
    generate related utility classes, which can then
    be used to build components.

    Whenever a theme needs to be updated, we can then
    edit the theme mappings below to update the entire
    site versus having to replace utility classes
    across the entire codebase.

    Import new font families below the @theme block and
    update the custom theme properties as desired.
*/

@theme {
    --font-display:
        "Modak", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    --font-sans:
        "Play", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
    font-family: "Modak";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../assets/fonts/modak/modak-v21-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Play";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../assets/fonts/play/play-v21-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Play";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../assets/fonts/play/play-v21-latin-700.woff2") format("woff2");
}
